<section>
  <article>
    <header>
      <h1>Welcome to Merckinator.com!</h1>
    </header>
    Thanks for visiting Merckinator.com! This site is a personal project by
    <a href="https://jeffmerckens.com" target="_blank" rel="noopener">Jeff Merckens</a>
    to showcase various web development skills and experiment with technologies. Its construction
    has just begun, so check back soon for updates. If you have any questions or would like to
    connect, don't hesitate to reach out through
    <a href="https://www.linkedin.com/in/jeff-merckens" target="_blank" rel="noopener"
      >my LinkedIn profile.</a
    >
    Enjoy your visit!
  </article>
</section>
