.article {
    flex: 1 1 280px;
    max-width: none;
    width: 100%;

    @media (min-width: 576px) {
        flex: 1 1 300px;
    }
}

.article__body {
    display: flex;
    flex-direction: column;

    &--image {
        height: min(50vw, 400px);
        position: relative;
    }

    img {
        object-fit: contain;
    }
}

.article__body--details {
    margin-top: 1rem;
}

.article__footer {
    font-size: 0.8rem;
    margin-top: 1rem;
}
