.article {
    max-width: min(100vw, 600px);
}

.article__body {
    display: flex;
    flex-direction: column;

    &--image {
        height: min(50vw, 400px);
        position: relative;
    }

    img {
        object-fit: contain;
    }
}

.article__body--details {
    margin-top: 1rem;
}

.article__footer {
    font-size: 0.8rem;
    margin-top: 1rem;
}
